/*--Main Css--*/

@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
body {
    margin: 0px;
    background: #fff;
}

table,
div {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 1.3;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #333333;
    text-decoration: none;
    outline: none;
}

img {
    border: none;
    max-width: 100%;
}

p {
    margin: 10px 0;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block
}

* {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    margin: 10px 0;
}


/*Heading*/

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

#main {
    margin: 0 auto;
}

header {}

.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

#logo {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

#logo img {
    width: 280px;
}

.navbar {
    height: auto;
    background: none;
    border: 0;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
    min-height: auto;
}

.navbar-default .navbar-nav>li>a {
    padding: 10px 15px;
    color: #333;
    font-size: 14px;
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #f57b20;
    border-bottom: 3px solid #f57b20;
    background: none;
}

.navbar-default .navbar-nav>li>a.active {
    color: #f57b20;
    border-bottom: 3px solid #f57b20;
}

.navbar-default .navbar-nav>li>a i {
    font-size: 12px;
}

.navbar-collapse.collapse {
    padding: 0;
}

.header-menu .dropdown-menu {
    border: 1px solid #ebebeb;
    padding: 0;
}

.header-menu .dropdown-menu>li>a {
    padding: 7px 10px;
}

.header-menu .dropdown-menu>li>a:hover,
.header_menu .dropdown-menu>li>a:focus {
    color: #f57b20;
}

.navbar-search {
    /*    text-align: center;*/
    padding: 40px 0;
    border-radius: 4px;
    width: 650px;
    margin: 0 auto;
}

.navbar-search h3 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 0;
}

.navbar-search .select.form-control {
    background: #f7f7f7 url('../images/ic_down.png') no-repeat;
    background-size: 20px;
    background-position: right 4px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 124px;
    float: left;
    border: 0;
    padding: 10px 10px;
    height: 45px;
    box-shadow: none;
    border-right: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
}

.navbar-search .select.form-control:focus {
    box-shadow: none;
}

.navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 14px;
    height: 45px;
    width: 400px;
    background: #f7f7f7;
}

.navbar-button {
    background-color: #f57b20;
    border: 1px solid #f57b20;
    border-radius: 0 2px 2px 0;
    color: #fff;
    padding: 10px 20px;
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -5px;
    outline: none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {}

.hamburger.is-open {
    left: 210px;
    position: fixed;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}


/*-------------------------------*/


/* Sidebar nav styles */


/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #f57b20;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}


/*.sidebar-nav li:first-child a{color:#fff;background-color:#1a1a1a;}*/


/*.sidebar-nav li:nth-child(2):before{background-color:#ec1b5a;}
.sidebar-nav li:nth-child(3):before{background-color:#79aefe;}
.sidebar-nav li:nth-child(4):before{background-color:#314190;}
.sidebar-nav li:nth-child(5):before{background-color:#279636;}
.sidebar-nav li:nth-child(6):before{background-color:#7d5d81;}
.sidebar-nav li:nth-child(7):before{background-color:#ead24c;}
.sidebar-nav li:nth-child(8):before{background-color:#2d2366;}
.sidebar-nav li:nth-child(9):before{background-color:#35acdf;}*/

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #f2f2f2;
    box-shadow: none;
}

.sidebar-nav hr {
    margin: 5px 0;
}

.sidebar-nav li a span {
    float: right;
    padding-top: 3px;
}

.sidebar-nav .dropdown-menu li a {
    color: #333;
}


/*-------------------------------*/


/* Hamburger-Cross */


/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/* .search-page .header-search{margin-bottom: 20px;} */

.search-page #logo {
    text-align: left;
    float: left;
    padding: 35px 0;
}

.search-page #logo img {
    width: 170px;
}

.search-page .navbar-search {
    float: right;
    text-align: right;
}


/* .search-page .navbar-input {
    width: 400px;
} */

.search-page .navbar-search h3 {
    display: none;
}

.search-content-box {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 20px;
}

.search-content-box h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 700;
}

.search-content-box a {
    color: #f57b20;
}

.search-content-box p {
    line-height: 1.6;
}

.tags {}

.tags li {
    display: inline-block;
    background: #f57b20;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    padding: 5px 10px;
    margin-right: 5px;
    transition: all ease 0.5s;
}

.tags li a {
    color: #000;
}


/* .tags li:hover{background: #f57b20;} */

.tags li:hover a {
    color: #fff;
}

.loader {
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.loader img {
    width: 150px;
}

.time-text {
    padding: 0 10px 10px;
    color: #888;
    font-size: 13px;
}

.no-documents {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

html {
    height: 100%;
}

body#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#page-content-wrapper {
    flex: 1;
}

footer {
    background: #f7f7f7;
    border-top: 1px solid #e4e4e4;
    padding: 10px 0;
    margin-top: 50px !important;
}

.footer-links ul li {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

.footer-links ul li a {
    color: #333;
}

.footer-links ul li a:hover {
    color: #f57b20;
}

.copy-right {
    font-size: 13px;
    text-align: right;
}

.copy-right p {
    color: #333;
}

.search-audio {
    display: inline-block;
    vertical-align: top;
}

.search-content-box h4 i {
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: #f57b20;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.search-content-box .location i {
    font-size: 16px;
    color: #333;
}

.search-audio a.stopaudio i {
    color: #fff;
    background: #333;
}

.search-audio a.playaudio i.fa-play {
    display: none;
}

.search-audio a.playaudio:hover i.fa-music {
    display: none;
}

.search-audio a.playaudio:hover i.fa-play {
    display: block;
}

.search-video iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.view-document {
    display: inline-block;
    vertical-align: top;
}

.search-content-box h4 .view-document i {
    background: #f57b20;
}

.search-content-box h4 .view-document i:hover {
    background: #f57b20;
}

.view-document i.fa-eye {
    display: none;
}

.view-document a:hover i.fa-file-pdf-o {
    display: none;
}

.view-document a:hover i.fa-eye {
    display: block;
}

.tooltip-inner {
    font-size: 13px;
    padding: 5px 8px;
}

.modal-open .modal.full-modal {
    padding: 0 !important;
}

.modal.fade.full-modal .modal-dialog {
    opacity: 0;
    width: 100%;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0;
    height: -moz-calc(100% - (25px + 25px));
    height: -webkit-calc(100% - (25px + 25px));
    height: calc(100% - (25px + 25px));
}

.full-modal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    border: 0;
    border-radius: 0;
}

.full-modal p {
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 20px;
}

.search-content-box embed.videoembed {
    width: 100%;
}

.search-content-box .location {
    /*    margin-left: 5px;*/
    display: inline-block;
    font-weight: normal !important;
}

#hamburger-navigation {
    display: none;
}

.mobile {
    display: none;
}


/*------Custom Checkbox mark-------*/

.mt-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mt-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.mt-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.mt-checkbox input:checked~.checkmark {
    background-color: transparent;
    border: 1px solid #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.mt-checkbox input:checked~.checkmark:after {
    display: block;
}

.mt-checkbox .checkmark:after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 10px;
    border: solid #f57b20;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-content-box a.title-popup {
    color: #000 !important;
}

.file-modal .modal-dialog {
    max-width: 600px;
    width: auto;
}

.file-modal .modal {
    background: rgb(0, 0, 0, 0.75);
}

.file-modal .modal-dialog {
    margin: 120px auto !important;
}

.file-modal .modal-content {
    border-radius: 0;
    border-color: transparent;
}

.file-modal .modal-header>.modal-title {
    color: rgb(245, 123, 32)
}

.file-modal .modal-header>.close {
    opacity: 1;
    font-size: 24px;
    font-weight: 400 !important;
}

.file-modal .modal-xl {
    max-width: 1100px;
    margin-left: 3%;
    margin-right: 3%;
}

.file-modal .modal-lg {
    max-width: 700px;
}

.file-modal .modal-sm {
    max-width: 350px;
}

.card-border {
    border: 1px solid #E0E0E0 !important;
}

.card {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.875rem;
    border-radius: 0;
}

.card .card-block {
    padding: 15px;
}

.link-darkblue {
    color: #1d2b36 !important;
}

.btn-theme-orange {
    background-color: #dd5a21;
    border-color: #dd5a21;
    color: #fff;
}

.btn-theme-light-orange {
    background-color: #f57b20;
    border-color: #f57b20;
    color: #fff;
}


/*.read-more-btn {
    margin-top: 20px;
}*/

.read-more-link {
    /* margin-left: 10px; */
}

.read-more-link:hover {
    text-decoration: underline;
}

.location-mark {
    margin-top: 15px;
}

.doc-content {
    margin-bottom: 15px;
}

.w-100 {
    width: 100%;
}

.full-modal .modal-header>.close {
    opacity: 1;
    font-size: 24px;
    font-weight: 400 !important;
}


/*--------1180px------------*/

@media only screen and (min-width:1180px) and (max-width:1280px) {}


/*--------960px------------*/

@media only screen and (min-width:960px) and (max-width:1179px) {}


/*---------768px-----------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .search-video {
        padding-top: 15px;
    }
}


/*-----------Responsive Menu-----------*/

@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        height: 100vh !important;
        background: #f7f7f7;
        overflow-y: scroll;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        padding-top: 0;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-nav>li>a img {
        display: inline-block;
        height: auto;
        margin: 0;
        margin-right: 10px;
        width: 25px;
    }
    .collapse.in {
        display: block !important;
    }
    .header_menu .navbar-header {
        float: right;
        margin: 20px;
    }
    .navbar-default .navbar-toggle {
        border: 0;
        background: inherit;
        margin: 5px 0;
        border-radius: 0;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: #f38f01;
    }
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #fff;
    }
    .social-icon.pull-right {
        float: left !important;
    }
    .navbar-collapse {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        border-top: 0 !important;
        padding: 0;
        z-index: 999;
    }
    .navbar-collapse .nav {
        margin: 0;
        background: #f7f7f7;
        /* height: 100vh; */
    }
    .navbar-default .navbar-nav>li>a {
        padding: 10px 15px;
        font-size: 16px;
        line-height: 32px;
        box-shadow: 0px 3px 4px 0px #e9e9e9;
        background: #fff;
    }
    .navbar-nav>li .btn-default {
        color: #000000;
        padding: 0 10px;
        text-align: center;
        line-height: 50px;
        width: 100%;
    }
    .navbar-nav>li.logo {
        display: none;
    }
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: #010101;
        background: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 15px;
    }
    .navbar-nav .open .dropdown-menu {
        position: relative !important;
    }
    #logo {
        padding-top: 50px;
        padding-bottom: 0;
    }
    .navbar-search {
        width: 100%;
        padding: 20px 0;
    }
    .inline-navbar {
        display: inline;
        position: relative;
    }
    .navbar-search .select.form-control {
        width: 25%;
        border: 1px solid #f57b20;
        float: left;
    }
    .navbar-input {
        width: 75%;
        margin: 0;
        border: 1px solid #f57b20;
        float: left;
        padding-right: 70px;
    }
    .search-doc-icon {
        position: absolute !important;
        right: 0;
    }
    /* .search-page .navbar-input {
        width: 100% !important;
    } */
    .navbar-header {
        margin: 20px 0;
        background: #777;
    }
    .search-page #logo,
    .search-page .navbar-search {
        float: none;
        text-align: center;
    }
    .search-content-box p {
        word-wrap: break-word;
    }
    .tags li {
        margin-top: 3px;
    }
    .file-modal .modal-lg {
        width: 80%;
    }
    .file-modal .modal-dialog {
        margin: 40px auto !important;
    }
    .xs-menu-title {
        background: #f57b20;
        padding: 20px 15px;
        top: 0;
        position: relative;
        margin: 0;
        border-bottom: 1px solid #cecece;
    }
    .xs-menu-title h4 {
        margin: 0;
        color: #fff;
        font-size: 20px;
    }
    .navbar-header h4 {
        color: #fff;
        font-size: 16px;
        display: inline-block;
        margin: 12px 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .xs-menu-title span {
        font-size: 20px;
    }
    .xs-menu-title span>.close {
        font-size: 20px;
        opacity: 1;
        text-shadow: none;
        color: #fff;
    }
    .copy-right,
    .footer-links {
        text-align: center !important;
    }
    .video-clear {
        clear: both;
    }
}

@media (min-width: 768px) {
    .navbar-header h4 {
        display: none !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .inline-navbar {
        display: inline;
        position: relative;
    }
    .navbar-search .select.form-control {
        width: 30%;
        border: 1px solid #f57b20;
        float: left;
    }
    .navbar-input {
        width: 70%;
        margin: 0;
        border: 1px solid #f57b20;
        float: left;
    }
    .navbar-button {
        position: relative;
        right: 0;
    }
    .full-modal .modal-header>h1.modal-title {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .search-page #logo,
    .search-page .navbar-search {
        float: none;
        text-align: center;
    }
    .search-content-box p {
        word-wrap: break-word;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .file-modal .modal-lg {
        width: 680px !important;
        margin-top: 60px !important;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .file-modal .modal-lg {
        width: 950px !important;
    }
}


/*-----------END_Responsive Menu-----------*/


/*-----------640px---------*/

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .search-video {
        padding-top: 15px;
    }
    .search-content-box>div {
        padding: 0;
    }
}


/*-----------480px---------*/

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .search-video {
        padding-top: 15px;
    }
    .search-content-box>div {
        padding: 0;
    }
}


/*----------320px----------*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .search-video {
        padding-top: 15px;
    }
    .search-content-box>div {
        padding: 0;
    }
    .tags li {
        padding: 5px 10px;
        font-size: 12px;
    }
    .navbar-input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: transparent;
    }
    .navbar-input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }
    .navbar-input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: transparent;
    }
    .navbar-input :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: transparent;
    }
}

@media (max-width: 340px) {
    .navbar-search .select.form-control {
        font-size: 12px !important;
        background-size: 17px;
        padding: 10px 5px;
        right: 2px;
    }
}