body {
    background: url("../../app-assets/images/bg-cover-signin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    /* background: #2ecc71; */
    /* IE Fallback */
    background: rgba(245, 123, 32, 0.6);
    width: 100%;
    height: 100%;
}

.login-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

.form {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    background: #fff;
    width: 100%;
    /* margin: 0 auto !important; */
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

.form h2 {
    margin: 20px 0;
    line-height: 1;
    color: #DD5A21;
    font-size: 16px;
    font-weight: 400;
    /*--*/
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 40px 0 40px;
    text-align: center;
}

.form h2 span {
    background: #fff;
    padding: 0 10px;
}

.form .input-field {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: 'Roboto', sans-serif !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-wieght: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.form input:focus {
    color: #333;
    border: 1px solid #DD5A21;
}

.form button {
    cursor: pointer;
    background: #DD5A21;
    /* width: 25%; */
    padding: 10px 35px;
    border: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.form button:hover {
    background: #DD5A21;
}

.login-forgot {
    margin-top: 20px;
}

.login-forgot a {
    color: #DD5A21;
    float: right;
    margin-top: 10px;
}

.login-forgot a:hover {
    color: #F57B20;
    text-decoration: underline;
}


/*--------*/

@media (max-width: 767px) {
    .form {
        padding: 30px;
    }
}

@media (max-width: 400px) {
    .login-forgot a {
        color: #DD5A21;
        float: none !important;
        display: block;
        margin-top: 15px;
    }
}