/*body{height: auto !important;}*/

.btn-primary {
    border-color: #288feb !important;
    background-color: #288feb !important;
}

.role-table thead,
.role-table tbody {
    text-align: center;
}

.navigation-header-new:hover a,
.navigation-header-new.active a,
.navigation-header-new a:hover,
.navigation-header-new a:focus {
    background: none !important;
}

.page-item.active .page-link,
.page-item.active .page-link:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #dd5a21;
    border-color: #dd5a21;
}

.page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #dd5a21;
    border-color: #dd5a21;
}

.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #dd5a21;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-link:hover {
    color: #1d2b36 !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    margin-top: 0px;
    text-align: right;
}

table {
    width: 100% !important;
}

table th,
table td {
    /* padding: 0.75rem 1rem !important; */
    white-space: normal !important;
}

footer {
    height: 33px;
}

.app-content.content.container-fluid {
    min-height: 100%;
    margin-bottom: -33px;
}


/*---New Style Changes----*/

.filter {
    margin-bottom: 10px;
}

.card-header .heading-elements a,
.card-header .heading-elements-toggle a {
    padding: 0.25rem 0.5rem !important;
}

.dataTables_wrapper table.dataTable {
    margin: 15px 0 !important;
}

.btn-theme-orange,
.tag-theme-orange {
    background-color: #dd5a21;
    border-color: #dd5a21;
    color: #fff;
}

.btn-theme-orange:hover {
    background-color: #fff;
    border-color: #dd5a21;
    color: #dd5a21 !important;
}

.btn-theme-darkblue,
.tag-theme-darkblue {
    background: #1d2b36;
    border-color: #1d2b36;
    color: #fff;
}

.tag-theme-border-orange,
.tag-theme-border-orange:hover {
    border: 1px solid #dd5a21;
    background: #fff;
    color: #dd5a21 !important;
}

.tag-theme-border-darkblue,
.tag-theme-border-darkblue:hover {
    border: 1px solid #1d2b36;
    background: #fff;
    color: #1d2b36 !important;
}

.tag-theme-border-pink,
.tag-theme-border-pink:hover {
    border: 1px solid #da4453;
    background: #fff;
    color: #da4453 !important;
}

.btn-theme-darkblue:hover {
    background: #fff;
    border-color: #1d2b36;
    color: #1d2b36 !important;
}

a.btn.btn-theme-darkblue:focus {
    color: #fff;
}

a.btn.btn-theme-orange:focus {
    color: #fff;
}

.card-header .heading-elements i,
.card-header .heading-elements-toggle i {
    color: inherit !important;
}

.link-orange {
    color: #dd5a21 !important;
}

.link-darkblue {
    color: #1d2b36 !important;
}

.link-lightorange {
    color: #F57B20 !important;
}

.link-pink {
    color: #da4453 !important;
}

.form-control:focus {
    border-color: #dd5a21 !important
}

.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
    background-color: #dd5a21 !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #dd5a21 !important;
    border-color: #dd5a21 !important;
    margin: 0 5px 8px !important;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>i {
    font-size: 1.1rem !important;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    background-color: #dd5a21 !important;
    border-color: #dd5a21!important;
    text-transform: capitalize;
}

.sweet-alert button {
    border: 1px solid !important;
}

.sweet-alert button.cancel {
    background: #1d2b36 !important;
    border-color: #1d2b36 !important;
    color: #fff !important;
}

.sweet-alert button.cancel:hover {
    background: #fff !important;
    border-color: #1d2b36 !important;
    color: #1d2b36 !important;
}

.sweet-alert button.confirm {
    background-color: #dd5a21 !important;
    border-color: #dd5a21 !important;
    color: #fff !important;
}

.sweet-alert button.confirm:hover {
    background-color: #fff !important;
    border-color: #dd5a21 !important;
    color: #dd5a21 !important;
}


/*------*/

.card-custom-height {
    min-height: 279px !important;
}

.icon-tag {
    margin-right: 5px;
    font-size: 13px;
    vertical-align: center;
}

.custom-user-tag {
    padding: 7px 18px;
    font-size: 12px;
    margin-right: 3px;
}

.user-upload-items:after {
    content: '|';
    color: #e2e2e2;
    font-size: 20px;
    margin: 0 3px;
}

a.user-upload-items i {
    font-size: 13px;
    margin-left: 3px;
}

.user-upload-items:last-child:after {
    display: none;
}


/* .th-custom-width {width: 20% !important;} */

.note-editable.panel-body {
    height: 350px !important;
}

.note-editor.note-frame {
    border: 1px solid #d4d4d4 !important;
    border-radius: 0;
}

.note-image-btn,
.note-link-btn,
.note-video-btn {
    background-color: #dd5a21 !important;
    border-color: #dd5a21 !important;
}

.dropdown-menu.note-check.dropdown-fontname a,
.note-editor div.dropdown-menu li>a {
    color: #dd5a21 !important;
}

.name {
    word-break: break-all;
}

@media (max-width: 1530px) and (min-width: 1199px) {
    .th-custom-width {
        width: 20% !important;
    }
}

.loader-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.loader-blue-grey.folding-cube div::before {
    background-color: #F57B20 !important;
}

.datepicker-filter {
    float: right;
}

.datepicker-filter #reportrange {
    border: 1px solid #d4d4d4;
    font-weight: 400;
    color: #5a5a5a;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.18rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #fff;
}

.daterangepicker .ranges li.active {
    background-color: #dd5a21 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #dd5a21 !important;
}

.drp-buttons .btn-primary {
    background-color: #dd5a21 !important;
    border-color: #dd5a21 !important;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    color: #fff !important;
}

.map-height {
    margin: 20px 0 10px;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-brand {
    padding: 5px 7px !important;
}

html body .pace .pace-progress {
    background: #f57b20 !important;
}